.headerContent {
    margin-top: 15%;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
}

.ocean {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wave1 {
    width: 300vw;
    color: #56CCF2;
    border-bottom: 30vh solid #56CCF2;
}

.wave2 {
    width: 250vw;
    color: #2D9CDB;
    border-bottom: 26vh solid #2D9CDB;
}

.wave3 {
    width: 200vw;
    color: #2F80ED;
    border-bottom: 22vh solid #2F80ED;
}

.ship {
    position: absolute;
    transform-origin: center bottom;
    bottom: 29vh;
    right: 20%;
}