@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #272935;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1, h2, p {
    padding: 0 20%;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 1em;
}

p {
    padding-bottom: 1em;
    line-height: 1.7em;
}